<div class="hero">
  <header>
    <div class="left-header">
      <div class="cyberpunk-img">
        <img src="../../../assets/image/yellow.png" alt="cyberpunk">
      </div>
      <div class="right-img">
        <img src="../../../assets/image/2077.png" alt="2077">
      </div>
    </div>
    <div class="right-header">
      <img src="../../../assets/image/YouTube.png" alt="youtube">
      <img src="../../../assets/image/vk.png" alt="vk">
      <img src="../../../assets/image/facebook.png" alt="facebook">
      <img src="../../../assets/image/twitter.png" alt="twitter">
      <img src="../../../assets/image/twitch.png" alt="twitch">
      <img src="../../../assets/image/instagramm.png" alt="instagram">
    </div>
  </header>
  <div class="available">
    <div class="available-text">
      <p>Доступно на <br> всех платформах</p>
    </div>
    <div class="black-box">
      <p>Узнать больше</p>
    </div>
  </div>
</div>
