<div class="second-block">
  <div class="header">
    Найт-Сити изменит тебя навсегда!
  </div>
  <div class="description">
    <span>Cyberpunk 2077</span> — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где <br> власть,
    роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках устройства, <br> позволяющего обрести
    бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего <br> персонажа, исследуя открытый мир, где твои
    поступки влияют на ход сюжета и всё, что тебя окружает.
  </div>
  <div class="second-block-img">
    <div>
      <div class="second-block-l-img">
        <img src="../../../assets/image/Rectangle%2062.png" alt="firstImg">
      </div>
      <div>
        <img src="../../../assets/image/Rectangle%2063.png" alt="secondImg">
      </div>
    </div>
    <div class="second-block-b-img">
      <img src="../../../assets/image/Rectangle%2061.png" alt="thirdImg">
    </div>
  </div>
</div>
